extends layout

block content
  h1= title
  p  #{msg}

  img(src=imagePath, alt=title)


  a(href="https//195.3.129.213:443/") на главную homepage  (для HTTPS)

  <h3>для тестирования сервера http</h3>
  a.testing(href="http://195.3.129.213:3003/") на главную homepage  (для HTTP)

  <h3>для тестирования сервера localhost</h3>
  a.testing(href="https://localhost:443/") на главную homepage  (для localhost https)
  a.testing(href="http://localhost:3003/") на главную homepage  (для localhost http)
