extends layout

block content
  h1= title
  a.testing(href="https://localhost:3003/html/mob.html") Посмотри себя! Ответь "ДА" на запрос использовать камеру

  p Welcome #{title}
  h3 для http://195.3.129.213:443 HTTPS
  a(href="https://195.3.129.213:443/Nik") Николай, жми сюда!
  a(href="https://195.3.129.213:443/Max") Макс, а ты - жми сюда!
  a(href="https://195.3.129.213:443/Lesha") Лёша, велкам!
  a(href="https://195.3.129.213:443/Vlad") Владу, сюда!
  a(href="https://195.3.129.213:443/html/andr.html") Android Camera Client

  <br><br><br><hr>
  h3 http://для 195.3.129.213:3003 HTTP
  a.testing(href="http://195.3.129.213:3003/Nik") Николай, жми сюда!
  a.testing(href="http://195.3.129.213:3003/Max") Макс, а ты - жми сюда!
  a.testing(href="http://195.3.129.213:3003/Lesha") Лёша, велкам!
  a.testing(href="http://195.3.129.213:3003/Vlad") Владу, сюда!
  a.testing(href="http://195.3.129.213:3003/html/andr.html") Android Camera Client


  h3 для localhost:3003 HTTPS
  a(class= "testing" href="https://localhost:3003/Nik") Николай, жми сюда!
  a.testing(href="https://localhost:3003/Max") Макс, а ты - жми сюда!
  a.testing(href="https://localhost:3003/Lesha") Лёша, велкам!
  a.testing(href="https://localhost:3003/Vlad") Владу, сюда!


  h3 для localhost:3003 HTTP
  a(class= "testing" href="http://localhost:3003/Nik") Николай, жми сюда!
  a.testing(href="http://localhost:3003/Max") Макс, а ты - жми сюда!
  a.testing(href="http://localhost:3003/Lesha") Лёша, велкам!
  a.testing(href="http://localhost:3003/Vlad") Владу, сюда!

