extends layout

block content
  h1= title
  p  #{msg}

  img(src=imagePath, alt=title)

  a(href="http://195.3.129.213:3003/") на главную homepage
  a.testing(href="http://localhost:3003/") на главную homepage
