extends layout

block content
  h1 welcome #{title}

  a(href="https://195.3.129.213:3003/html/rtc1.html") Видеочат user1
  a(href="https://195.3.129.213:3003/html/rtc2.html") Видеочат user2

  p Здесь можно просмотреть свой профайл, либо включить камеру для само-осмотра.
  <hr/>
  h3 для http://195.3.129.213:3003 HTTPS
  a(href="https://195.3.129.213:3003/Nik") Николай, жми сюда!
  a(href="https://195.3.129.213:3003/Max") Макс, а ты - жми сюда!
  a(href="https://195.3.129.213:3003/Lesha") Лёша, велкам!
  a(href="https://195.3.129.213:3003/Vlad") Владу, сюда!

  <br><br><br><hr>


