extends layout

block content
  h1= title
  p Welcome #{title}
  a(href="http://195.3.129.213:3003/Nik") Николай, жми сюда!
  a(href="http://195.3.129.213:3003/Max") Макс, а ты - жми сюда!
  a(href="http://195.3.129.213:3003/Lesha") Лёша, велкам!
  a(href="http://195.3.129.213:3003/Vlad") Владу, сюда!
  a(href="http://195.3.129.213:3003/html/andr.html") Android Camera Client

  <br><br><br><hr>
  <h3>запасное, сугубо для тестирования</h3>
    a(class= "testing" href="http://localhost:3003/Nik") Николай, жми сюда!
    a.testing(href="http://localhost:3003/Max") Макс, а ты - жми сюда!
    a.testing(href="http://localhost:3003/Lesha") Лёша, велкам!
    a.testing(href="http://localhost:3003/Vlad") Владу, сюда!