body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}
.container {display:flex; flex-direction: row; margin: 10px}

h1, h2, h3, h4 {font-weight: bold}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1em;}
h4 {font-size: 0.5em;}

a
{ color: #005fff;
  font-size: 2em;
display: block;
padding: 0.5em 0.5em 0.5em}

#remoteVideo {
  align-self: flex-start;
  width: 60%;
  /*height: auto;*/
  aspect-ratio: 4 / 3;
  display: block;
  margin: 10px auto;
}

.users {
  align-self: flex-start;
}

.selector-box {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  align-self: center;
}

#selectUser, #selectTarget {
  cursor: pointer;
  align-self: center;
  margin: 2px;
  padding: 2px 10px;
}

#btn {
  cursor: pointer;
  align-self: center;
  margin: 2px;
  padding: 2px 15px;
  width: auto;
}

#localVideo {
  align-self: flex-end;
  width: 200px;
  height: auto;
  bottom: 10px;
  right: 10px;
  border: 2px solid white;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.dashboard label {
  font-size: 14px;
}

.testing {
  color: chocolate;
  font-size: 2em;
}
